<main class="h-100 d-flex align-items-center justify-content-center flex-column">
    <div class="mb-4">
        <img
            src="assets/svg/page-not-found.svg"
            alt="Page Not Found"
            class="mb-4 img-fluid"
        >
        <h1 class="d-flex justify-content-center">Page Not Found</h1>
    </div>
    <div>
        <button matIconButton class="custom-primary-button" (click)="redirectHomePage()">
            <mat-icon>open_in_new</mat-icon>
            Return to home page.
        </button>
    </div>
</main>