<section class="h-100 d-flex flex-column">
    <div class="d-flex flex-column flex-grow-1 home-content">
        <app-header class="px-4 py-3"></app-header>
        <main class="d-flex flex-column flex-grow-1">
            <section class="slogan-section px-4 pt-5 pb-3 m-0 row">
                <div class="h-100 d-flex align-items-center col-6">
                    <h1 class="m-0 fs-2 fw-semibold">The smart way to book business resources</h1>
                </div>
                <div class="d-flex align-items-center justify-content-center col-6">
                    <img class="img-fluid" src="assets/svg/undraw_brainstorming.svg" alt="Brainstorming">
                </div>
            </section>

            <section class="px-4 py-3 content-section">
                <article class="row mt-5 mb-4">
                    <div class="col-6 d-flex justify-content-center">
                        <img class="img-fluid" src="assets/svg/undraw_spreadsheet.svg" alt="Spreadsheet">
                    </div>
                    <div class="col-6 d-flex flex-column justify-content-center">
                        <h2>Corporate Resources is a platform designed to simplify the management of assets and materials within companies.</h2>
                        <p>With it, you can create, view, and track reservations quickly and intuitively.</p>
                        <p>Our system was built to ensure organization, agility, and to avoid scheduling conflicts, making the loan process more efficient and transparent.</p>
                    </div>
                </article>

                 <article class="row my-4">
                    <div class="col-6 d-flex flex-column justify-content-center">
                        <h2>Key Benefits:</h2>
                        <p><span>Total Organization</span> &rarr; centralize all reservations in one place</p>
                        <p><span>Agility</span> &rarr; make reservations in just a few clicks, without bureaucracy.</p>
                        <p><span>Control</span> &rarr; track resource usage in real time.</p>
                        <p><span>Productivity</span> &rarr; reduce errors and scheduling conflicts.</p>
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                        <img class="img-fluid" src="assets/svg/undraw_going-upwards.svg" alt="Upwards Graph">
                    </div>
                </article>

                 <article class="row mb-5 mt-4">
                    <div class="col-6 d-flex justify-content-center">
                        <img class="img-fluid" src="assets/svg/undraw_to-the-moon.svg" alt="To The Moon">
                    </div>
                    <div class="col-6 d-flex flex-column justify-content-center">
                        <h2>Corporate Resources is ideal for companies that need to:</h2>
                        <p>Manage loans of materials and equipment.</p>
                        <p>Ensure fair and organized availability.</p>
                        <p>Increase team productivity without rework.</p>
                    </div>
                </article>
            </section>
        </main>
    </div>
    
    <app-footer></app-footer>
</section>