@import './variables';
@import 'ngx-toastr/toastr';

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #010409 !important;
    color: $text-color !important;
}

.custom-primary-button {
    padding: 14px 28px;
    background-color: $primary-color;
    color: $text-color;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 5px;
}

.pointer {
    cursor: pointer;
}