@import '../../../../variables';

header > div {
    gap: 10px;

    img {
        width: 50px;
    }

    ul {
        list-style-type: none;
        gap: 15px;

        .active {
            color: $secondary-color;
        }
    }
}